<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:f="http://java.sun.com/jsf/core">


<h:head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>SabrinaBr.com</title>

</h:head>
<h:body>
	
	<center>
		<form method="post" action="">
		
			<h4>Crie seu proprio Episodio!</h4>
			
            
            <label>Nome:</label>
            <input type='text' name='name' id='d' value="#{Userbean.nome}" />
           	<label>Digite:</label>
            <input type='text' name='comentario' id='c' value="#{Userbean.comentario}" />
            
            <input type='submit' name='enviar' value='Enviar'  />
		</form>
	</center>
</h:body>
</html>